header {
  background-color: #49745F;
  margin: 0px;
  padding: 1px;
}

header h1 {
  font-family: 'Abril Fatface'; 
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
  line-height: 0%;
  padding: 60px 0px 0px 0px;
  text-shadow: 0px 0px 12px #000;
}

header h2 {
  font-family: papyrus;
  font-size: 25px;
  color: whitesmoke;
  text-align: center;
  padding: 0px 0px 40px 0px;
  text-shadow: 0px 0px 12px #000;
}

nav {
  width: 300px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  padding: 0px 15px 10px 20px;
}

nav a {
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 0px 0px 40px 0px;
  margin: 0 0 10px 10px;
}

/* typical links */

a:link    { color: black;  }
a:visited { color: darkcyan;   }
a:hover   { color: #cfffe5; }
a:active  { color: pink;  }


/* fixed background div for body */

.fixed-bg {
  background-image: url("/images/background.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

main > div > section > h2 {
  font-size: 40px;
  text-align: center;
  width: 300px;
  margin: auto;
  padding: 20px;
  font-family: papyrus;
  text-shadow: 0px 0px 12px #000;
}

main > div > section > p {
  font-size: 15px;
  text-align: justify;
  width: 300px;
  margin: auto;
  padding: 20px;
  font-family: papyrus;
}

/* transparent box so you can read things */
.box {
  font-family: Arial;
  color: #000;
  text-align: center;
  font-size: 10px;
  padding: 20px;
  Background-color: rgba(191, 217, 229,.5);
  margin: 0px 500px 0px 500px;
}

ul {
  font-family: papyrus;
  color: #000;
  text-align: left;
  margin: 0px 50px 0px 50px;
  padding: 1px;
  font-size: 12px;
}

ol {
  font-family: papyrus;
  color: #000;
  text-align: left;
  margin: 0px 225px 0px 225px;
  padding: 1px;
  font-size: 12px;
}

hr {
  width: 400px;
}

main > div > section > h3 {
  font-size: 20px;
  text-align: center;
  width: 300px;
  margin: auto;
  padding: 20px;
  font-family: papyrus;
}

footer {
  background-color:#49745F;
  position: static;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1px;
}

footer p {
  font-family: papyrus; 
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  text-shadow: 0px 0px 12px #000;
  padding: 20px 20px 20px 20px;
}
